

body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    text-align: center;
}
h1{
    color: #333;
}
form{
    margin: 20px;
}
input, select, button {
    padding: 10px;
    margin: 5px;
    border-radius:5px
}
button{
    background-color: #4CAF50;
    color: white;
    border: none;
}
button.hover {
    background-color: #45a049;
}
ul {
    list-style: none;
    padding: 0
}
li {
    background: white;
    margin: 10px auto;
    padding: 10px;
    width: 50%;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

}
a {
    margin-left: 10px;
    text-decoration: none;
    color: #007BFF;
}
a:hover{
    text-decoration: underline;
}
.priority.high{
    color: red;
    font-weight:bold;
}
.priority.medium{
    color:orange;

}
.priority.low{
    color: green;
}
.header, .task-row{
    display: grid;
    grid-template-columns: 40px 80px 100px 1fr 150px;
    gap: 10px;
    align-items: center;
    padding: 10px;
    width: 60%;
    margin: auto;
}
.header{
    font-weight: bold;
    background-color: #ddd;
    border-radius: 8px;
}
.task-row{
    background: white;
    margin-top: 10px;
    border-radius: 8px;
}
.task-row span{
    text-align: center;
}
.flash.message{
    width: 60%;
    padding: 10px auto;
    background-color: #d4edda;
    color: #155724;
    border-radius: 5px;
    font-weight: bold;
}
.filters {
    margin:8px 15px;
}
.filters a{
    padding: 8px 15px;
    margin: 5px;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
}
.filters a:hover{
    background-color: #0056b3;

}


